/* Mixins  */
/* Variables*/
/* Paletas de colores  */
/* varibles general  */
/* variables nav  */
/* variables footer */
/* variables Contact */
/* varibles index */
/* Importaciones  */
/* divisores */
.curved {
  position: relative;
  background: #2c3e50;
  height: 50vh;
  border-bottom-left-radius: 50% 8%;
  border-bottom-right-radius: 50% 8%; }

.triangle {
  position: relative;
  background: #2c3e50;
  height: 50vh; }

.triangle::before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 24px 24px 0 24px;
  border-color: #2c3e50 transparent transparent transparent;
  left: 8%;
  transform: translateX(-50%) translateY(100%); }

.wrapper {
  padding-bottom: 90px; }

.divider {
  position: relative;
  margin: 4px;
  height: 1px;
  z-index: -100; }

.div-transparent:before {
  content: "";
  position: absolute;
  top: 0;
  left: 5%;
  right: 5%;
  width: 90%;
  height: 1px;
  background-image: linear-gradient(to right, transparent, #303133, transparent); }

.div-arrow-down:after {
  content: "";
  position: absolute;
  z-index: 1;
  top: -7px;
  left: calc(50% - 7px);
  width: 14px;
  height: 14px;
  transform: rotate(45deg);
  background-color: white;
  border-bottom: 1px solid #303133;
  border-right: 1px solid #303133; }

.div-tab-down:after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: calc(50% - 10px);
  width: 20px;
  height: 14px;
  background-color: white;
  border-bottom: 1px solid #303133;
  border-left: 1px solid #303133;
  border-right: 1px solid #303133;
  border-radius: 0 0 8px 8px; }

.div-stopper:after {
  content: "";
  position: absolute;
  z-index: 1;
  top: -6px;
  left: calc(31% - 7px);
  width: 14px;
  height: 12px;
  background-color: white;
  border-left: 1px solid #303133;
  border-right: 1px solid #303133; }

.div-dot:after {
  content: "";
  position: absolute;
  z-index: -99;
  top: -9px;
  left: calc(40% - 9px);
  width: 18px;
  height: 18px;
  background-color: goldenrod;
  border: 1px solid #303133;
  border-radius: 50%;
  box-shadow: inset 0 0 0 2px white; }

.custom-shape-divider-bottom-1610324883 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0; }

.custom-shape-divider-bottom-1610324883 svg {
  position: relative;
  display: block;
  width: calc(138% + 1.3px);
  height: 35px; }

.custom-shape-divider-bottom-1610324883 .shape-fill {
  fill: #8A4444; }

.divider {
  display: flex; }
  .divider:before, .divider:after {
    content: "";
    flex: 1; }

.line {
  align-items: center;
  /* margin: 1em -1em; */ }
  .line:before, .line:after {
    height: 1px;
    margin: 0 1em; }

.one-line:before, .one-line:after {
  background: black; }

.razor:before, .razor:after {
  box-shadow: 0 0.5px 0 black; }

.double-razor:before, .double-razor:after {
  height: 3px;
  box-shadow: 0 -0.5px 0 black, 0 0.5px 0 black;
  border-width: 0; }

.glow:before, .glow:after {
  height: 6px;
  -webkit-filter: blur(5px);
  border-radius: 5px; }

.glow:before {
  background: linear-gradient(to right, blue, hotpink); }

.glow:after {
  background: linear-gradient(to left, blue, hotpink); }

.gradient {
  align-items: stretch;
  margin: 1em 0;
  height: 2em;
  line-height: 2em;
  color: white;
  background: black; }
  .gradient:before {
    background: linear-gradient(to right, white, black); }
  .gradient:after {
    background: linear-gradient(to left, white, black); }

.donotcross {
  overflow: hidden;
  align-items: center;
  background: #ffd500;
  color: black;
  height: 2em;
  line-height: 2em; }
  .donotcross:before, .donotcross:after {
    background: white;
    padding: 50px 0;
    height: 0;
    transform: rotate(45deg); }

/* general  */
* {
  font-family: 'Barlow', sans-serif;
  margin: 0;
  padding: 0; }

body {
  background-image: url("../img/foto3.jpg");
  background-size: cover;
  background-attachment: fixed; }

.italica {
  font-family: 'Russo One', sans-serif;
  font-weight: bold;
  font-size: 1.2rem; }

img {
  width: 100%; }

.contenedor {
  width: 80%;
  height: 130%;
  margin: auto; }

.flexbox {
  display: flex;
  justify-content: center;
  flex: 1;
  align-items: stretch; }

.flexColumn {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 0px;
  width: 30vw;
  height: 25vh; }

.avatar {
  margin: 20% auto;
  display: block;
  border: solid 2px orange;
  border-radius: 50%;
  width: 80%; }

/* fin general */
div.socialside ul {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 250px;
  right: 0;
  z-index: 1; }
  div.socialside ul li {
    display: block;
    background-color: #333333;
    color: white;
    padding: 5px;
    border-radius: 10%;
    margin-bottom: 3%; }
    div.socialside ul li img {
      height: 25px;
      width: 25px; }

/*  nav  */
header {
  position: sticky;
  top: 0px;
  z-index: 99; }
  header nav {
    overflow: hidden;
    background-color: #001514; }
    header nav .logoImgNav {
      width: 4rem;
      border: 2px solid #FF9770;
      border-radius: 15%; }
    header nav button {
      color: #70D6FF; }
    header nav li {
      list-style-type: none; }
      header nav li a {
        color: #70D6FF;
        display: block;
        text-align: center;
        padding: 16px;
        text-decoration: none;
        font-weight: bolder;
        font-size: 1rem; }
        header nav li a:hover {
          background-color: #70D6FF;
          color: #fcfcfc; }

/* fin de nav  */
/* footer */
footer {
  display: flex;
  background-color: #001514;
  /* border-radius: 2%; */
  padding: 50px;
  overflow: hidden;
  text-align: center;
  font-family: 'Stylish', sans-serif;
  font-size: 1rem; }
  footer .footerStyle {
    justify-content: space-between;
    align-items: row; }
  footer .newsLetter {
    text-align: left; }
    footer .newsLetter h2 {
      color: #70D6FF;
      font-weight: bold;
      font-family: 'Anton', sans-serif; }
    footer .newsLetter p, footer .newsLetter a {
      color: #fefefe; }
      footer .newsLetter p:hover, footer .newsLetter a:hover {
        text-decoration: none; }
    footer .newsLetter .suscribirse {
      margin-left: 50%;
      width: 50%; }
      footer .newsLetter .suscribirse div.suscribirse_icon {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        background-color: #70D6FF;
        padding: 10px;
        color: White;
        height: 100%; }
      footer .newsLetter .suscribirse div.suscribirse_text {
        padding: 10px;
        background-color: #2B9EB3;
        color: white;
        border: 1px solid #70D6FF;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px; }
  footer .contactFooter .contactData dl {
    display: flex;
    flex-wrap: wrap; }
    footer .contactFooter .contactData dl dt {
      color: #70D6FF;
      width: 40%;
      margin-bottom: 26px;
      font-size: 1.3em;
      font-family: 'Anton', sans-serif; }
    footer .contactFooter .contactData dl dd {
      width: 60%;
      font-size: 1em; }
      footer .contactFooter .contactData dl dd a {
        color: #fefefe; }
        footer .contactFooter .contactData dl dd a:hover {
          text-decoration: none; }

/* fin de footer  */
/* encabezado  */
.legend {
  display: flex;
  /* border-radius: 10%; */
  /* width: 40vw; */
  /* margin: 25px auto; */
  /* align-items: center; */
  /* justify-content: space-around; */
  background-color: #70D6FF;
  color: #1B1B1E;
  margin: 0; }
  .legend .legendLogo {
    height: 200px;
    width: 200px; }

/* fin encabezado  */
/* card  */
section.cardSection {
  background-image: url("../img/carousel1.jpg");
  background-size: cover;
  background-color: white;
  padding: 3%; }
  section.cardSection h1.cardHeader {
    color: #70D6FF;
    font-weight: bold;
    font-size: 4rem;
    -webkit-text-stroke: 2px #1B1B1E;
    text-align: center;
    padding: 10px;
    margin-bottom: 20px; }
  section.cardSection .card {
    border-radius: 3%;
    background-color: #1B1B1E;
    color: #70D6FF;
    font-size: 1rem;
    font-weight: bold;
    overflow: hidden; }
  section.cardSection .btn {
    background-color: #fcfcfc;
    color: #1B1B1E; }

/* zonaFlex */
section.zonaFlex {
  background-color: #70D6FF;
  color: #1B1B1E; }
  section.zonaFlex span {
    color: #1B1B1E; }
  section.zonaFlex .contenedor {
    display: flex; }
    section.zonaFlex .contenedor iframe {
      width: 45%;
      margin: 15px;
      height: 450px;
      text-align: left; }
    section.zonaFlex .contenedor .resume {
      display: block;
      font-size: 1rem;
      font-weight: 900;
      width: 45%;
      margin: 10px;
      height: 450px;
      overflow: hidden;
      text-overflow: ellipsis; }

/* fin de  zonaFlex*/
/* pagina about  */
.contenedorGrid {
  display: grid;
  background: #A65900;
  background: -webkit-linear-gradient(top left, #A65900, #11628D);
  background: -moz-linear-gradient(top left, #A65900, #11628D);
  background: linear-gradient(to bottom right, #A65900, #11628D);
  background-attachment: fixed;
  grid-template-columns: 23vw 32vw 23vw;
  grid-template-rows: 30vh 40vh 30vh;
  grid-template-areas: "fotoA textA foto2A" "textB fotoB textC" "textB fotoB textC";
  grid-row-gap: 30px;
  grid-column-gap: 12px;
  justify-content: center;
  margin: 40px auto;
  overflow: hidden; }
  .contenedorGrid #fotoA {
    grid-area: fotoA; }
  .contenedorGrid #foto2A {
    grid-area: foto2A; }
  .contenedorGrid #fotoB {
    grid-area: fotoB; }
  .contenedorGrid #textA {
    grid-area: textA;
    border-radius: 15px;
    background-color: #fcfcfc;
    padding: 15px;
    display: flex; }
  .contenedorGrid .imgFull {
    height: 100%;
    width: 100%;
    overflow: hidden; }
  .contenedorGrid .ulGrid {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    overflow: hidden; }
    .contenedorGrid .ulGrid li {
      display: block;
      font-size: 2rem;
      margin: auto; }
  .contenedorGrid #textB {
    grid-area: textB;
    background-color: #fcfcfc;
    border-radius: 15px;
    padding: 15px;
    overflow: hidden; }
  .contenedorGrid #textC {
    grid-area: textC;
    background-color: #fcfcfc;
    border-radius: 15px;
    padding: 15px;
    overflow: hidden; }

/* fin pagina about */
.formEstilo {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10%; }

.jumbotron {
  background-image: url("../img/feedback.jpg");
  background-size: cover;
  margin-top: 10px; }

/* Entrega bootstrap con js  */
.carousel {
  margin: 10%;
  border-radius: 55px 55px 55px 55px;
  overflow: hidden; }

.contactMain {
  background-color: #70D6FF;
  color: #70D6FF; }
  .contactMain .formEstilo {
    margin: 0px; }
    .contactMain .formEstilo h3 {
      color: #1B1B1E;
      font-weight: bold; }

/*xs  */
@media (max-width: 576px) {
  .contenedor {
    margin: 2%;
    width: 100vw; }
  div.legend {
    width: 100vw; }
  .avatar {
    margin: 8% auto; }
  div.legendText h2 {
    display: none; }
  div.legendText p {
    display: none; }
  h5 {
    display: inline; }
  .carousel {
    margin: 8%;
    border-radius: 0;
    width: 88vw; }
  .flexbox {
    flex-direction: column;
    justify-content: center; }
  section.cardSection {
    padding: 0; }
  .card {
    width: 90vw;
    height: 65vh; }
  .flexbox > a {
    margin: auto; }
  .flex {
    margin: 3%;
    width: 95vw;
    display: flex;
    flex-direction: column; }
  .flex > iframe {
    display: block;
    width: 90%; }
  .flex > p {
    display: block;
    width: 90%; }
  footer.footerStyle {
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    height: 60vh;
    margin: 0; }
    footer.footerStyle .newsLetter {
      width: 90%; }
      footer.footerStyle .newsLetter p {
        display: none; }
    footer.footerStyle .contactFooter {
      width: 90%;
      text-align: left; }
      footer.footerStyle .contactFooter .contactData dd {
        width: 70%;
        font-size: 1rem; }
      footer.footerStyle .contactFooter .contactData dt {
        width: 30%; } }

/* Small devices xs(landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 1100px) {
  div.legend {
    margin: auto 5%;
    width: 90vw; }
  .avatar {
    margin: 8% auto; }
  h5 {
    display: inline; }
  .carousel {
    margin: 0;
    border-radius: 0; }
  .flexbox {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100vw;
    justify-content: space-around; }
  .tarjetas {
    width: 40vw;
    height: 80vh; }
  .flexbox > a {
    margin: 0; }
  .flex {
    margin: 3%;
    width: 95vw;
    display: flex;
    flex-direction: column; }
  .flex > iframe {
    display: block;
    width: 90%; }
  .flex > p {
    display: block;
    width: 90%; }
  footer.footerStyle {
    flex-direction: row;
    align-items: center; }
    footer.footerStyle .newsLetter p {
      display: none; }
    footer.footerStyle .contactFooter {
      width: 45%;
      text-align: left; }
      footer.footerStyle .contactFooter .contactData dd {
        width: 65%;
        font-size: .8rem; }
      footer.footerStyle .contactFooter .contactData dt {
        width: 35%; } }
