.contactMain {
    background-color: $bckGroundContactColor;
    color: $babyBlue;
    .formEstilo {
        margin: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px;
        height: 70vh;
        h2 {
            color: $raisinBlack;
            font-weight: bold;
        }
        .jumbotron {
            background-image: url('../img/feedback.jpg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
}
