/* footer */

footer {
    @include flexbox(row);
    background-color: $bckColorFooter;
    /* border-radius: 2%; */
    padding: 50px;
    overflow: hidden;
    text-align: center;
    font-family: 'Stylish', sans-serif;
    font-size: 1rem;
    .footerStyle {
        justify-content: space-between;
        align-items: row;
    }
    .newsLetter {
        text-align: left;
        h2 {
            color: $babyBlue;
            font-weight: bold;
            font-family: 'Anton', sans-serif;
        }
        p, a {
            color: #fefefe;
            &:hover  {
              text-decoration: none;
            }
        }
        .suscribirse {
            margin-left: 50%;
            width: 50%;
            div.suscribirse_icon {
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
                background-color: $babyBlue;
                padding: 10px;
                color: White;
                height: 100%;
            }
            div.suscribirse_text {
                padding: 10px;
                background-color: #2B9EB3;
                border: 1px solid $babyBlue;
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
            }
            .linkMailchimp  {
                color: $footerSuscribeTest;
              
            }
        }
    }
    .contactFooter {
        .contactData {
            dl {
                display: flex;
                flex-wrap: wrap;
                dt {
                    color: $babyBlue;
                    width: 40%;
                    margin-bottom: 26px;
                    font-size: 1.3em;
                    font-family: 'Anton', sans-serif;
                }
                dd {
                    width: 60%;
                    font-size: 1em;
                    a {
                      color: #fefefe;
                      &:hover {
                        text-decoration: none;
                      }
                    } 
                }
            }
        }
    }
}

/* fin de footer  */
