/* footer */

footer {
    @include flexbox(row);
    background-color: $bckColorFooter;
    /* border-radius: 2%; */
    padding: 20px;
    overflow: hidden;
    text-align: center;
    font-family: 'Stylish', sans-serif;
    font-size: 1rem;
    .footerStyle {
        justify-content: space-between;
        align-items: row;
    }
    .newsLetter {
          color: $freshPink;
          text-align: left;
      h2 {
          font-weight: bold;
          font-family: 'Anton', sans-serif;
      }
      p {

      }
      .suscribirse {
        margin-left: 50%;
        width: 50%;
        div.suscribirse_icon {
          border-top-left-radius: 5px;
          border-bottom-left-radius: 5px;
        background-color: $freshPink;
        padding: 10px;
        color: White;
        height: 100%;
        } 
        div.suscribirse_text {

        padding: 10px;
        background-color: $lightSalmon;
        color:white;
        border:1px solid $freshPink ;
         border-top-right-radius: 5px;
          border-bottom-right-radius: 5px;
  
        }
      }

    }
    .contactFooter {
      .contactData{
        dl {
          display: flex;
          flex-wrap: wrap;
          dt {
            color: #FF70A6;
            width: 50%;
            margin-bottom: 26px;
            font-size: 1.3em;
          font-family: 'Anton', sans-serif;
          }
          dd {
            width: 50%;
            font-size: 1.3em;
          }
        }  
      }

      }


    
}

/* fin de footer  */
