/* encabezado  */

.legend {
    @include flexbox(row);
    /* border-radius: 10%; */
    /* width: 40vw; */
    /* margin: 25px auto; */
    /* align-items: center; */
    /* justify-content: space-around; */
    background-color: $orangeYellowCrayola;
    margin:0;
    .legendLogo {
        height: 200px;
        width: 200px;
    }
}

/* fin encabezado  */
/* card  */
section.cardSection {
  background-image: url('../img/carousel1.jpg');
  background-size: cover;
  background-color: white;
  padding: 3%;
  .card {
    border-radius: 3%;
    background-color: white;
    color: $freshPink;
    font-size: 1rem;
    font-weight: bold;
    overflow: hidden;
  }
  .btn {
    background-color: #26c485;
    color: #FE5F55;
  }
  .img {
  }
  
}
/* zonaFlex */

section.zonaFlex {
    background-color: $orangeYellowCrayola;
    color: $bckColor;
    span {
      color: #26C485;
    }
    .contenedor {
    @include flexbox(row);

    
    iframe {
        width: 45%;
        margin: 15px;
        height: 450px;
        text-align: left;
    }
    .resume {
        display: block;
        font-size: 1.2rem;
        width: 45%;
        margin: 10px;
        height: 450px;
        overflow: hidden;
        text-overflow: ellipsis;
        color: black;
    }
  }
}

/* fin de  zonaFlex*/


