/*  nav  */

header {
    position: sticky;
    top: 0px;
    z-index: 99;
    nav {
        overflow: hidden;
        background-color: $navBckColor;
        .logoImgNav{
          width: 4rem;
          border: 2px solid $navLogoBorder;
          border-radius: 15%;
        }
        button {
          color: $navButtonColor;
        }
        li {
            list-style-type: none;
            a {
          color: $navLinkColor;
                display: block;
                text-align: center;
                padding: 16px;
                text-decoration: none;
                font-weight: bolder;
                font-size: 1rem;
                &:hover {
                    background-color: $hoverNavList;
                }
            }
        }
    }
}

/* fin de nav  */


