.container {
    .productosContainerH3 {
        margin: auto;
        font-weight: bold;
        font-size: 4rem;
        -webkit-text-stroke: 0.2px #1B1B1E;
        text-align: center;
        padding: 10px;
        margin-bottom: 20px;
        font-family: 'Anton', sans-serif;
        color: white;
    }
    .cardColorBG {
        background-color: $productosCardBG;
        color: white;
        -webkit-box-shadow: 6px -2px 32px -2px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 6px -2px 32px -2px rgba(0, 0, 0, 0.75);
        box-shadow: 6px -2px 32px -2px rgba(0, 0, 0, 0.75);
        transition: transform .5s;
        img {
            height: 202px;
            width: 100%;
            margin: auto;
        }
        .btn {
            display: block;
            background-color: $cardBtnBackgroundColor;
            color: $cardBtnTextColor;
            &:hover {
                background-color: $cardBtnHoverBck;
                color: $cardBtnHoverText;
            }
        }
        &:hover {
            transform: scale(1.1);
        }
    }
}
