.container {
    .productosContainerH3 {
        margin: auto;
        font-weight: bold;
        font-size: 4rem;
        -webkit-text-stroke: 0.2px #1B1B1E;
        text-align: center;
        padding: 10px;
        margin-bottom: 20px;
        font-family: 'Anton', sans-serif;
        color: white;
    }
    .cardColorBG {
        background-color: $productosCardBG;
        color: white;
        img  {
          height: 202px;
          width: 100%;
          margin: auto;
        }
        a.btn  {
          display: block;
          margin-top: auto;
        }
    }
}
