/*xs  */

@media (max-width: 576px) {
    .contenedor {
        width: 100vw;
    }
    .navbar-brand {
        position: fixed;
        top: 2%;
        left: 4%;
        z-index: 1;
        background-color: $blackBabe;
    }
    div.legend {
        width: 100vw;
    }
    .avatar {
        margin: 8% auto;
    }
    div.legendText {
        h1,
        h2,
        h3 {
            display: none;
        }
        p {
            display: none;
        }
    }
    div.zonaFlex {
        flex-direction: column;
    }
    h5 {
        display: inline;
    }
    .carousel {
        margin: 8%;
        border-radius: 0;
        width: 88vw;
    }
    .flexbox {
        flex-direction: column;
        justify-content: center;
    }
    section.cardSection {
        padding: 0;
    }
    .card {
        width: 90vw;
    }
    .flexbox>a {
        margin: auto;
    }
    .flex {
        margin: 3%;
        width: 95vw;
        display: flex;
        flex-direction: column;
    }
    .flex>iframe {
        display: block;
        width: 90%;
    }
    .flex>p {
        display: block;
        width: 90%;
    }
    .contactMain {
        height: 1000px;
        form {
            margin-top:100px;
        }
        .jumbotron{
            display:none;
        }
    }
    footer.footerStyle {
        flex-direction: column;
        justify-content: space-between;
        padding: 10px;
        height: 40vh;
        margin: 0;
        .newsLetter {
            width: 90%;
            p {
                display: none;
            }
            ;
        }
        .contactFooter {
            width: 90%;
            text-align: left;
            .contactData {
                dd {
                    width: 70%;
                    font-size: 1rem;
                }
                dt {
                    width: 30%;
                }
            }
        }
    }
}

/* Small devices xs(landscape phones, 576px and up) */

@media (min-width: 576px) and (max-width: 1100px) {
    div.legend {
        margin: auto 5%;
        width: 90vw;
    }
    .avatar {
        margin: 8% auto;
    }
    h5 {
        display: inline;
    }
    .carousel {
        margin: 0;
        border-radius: 0;
    }
    .flexbox {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        width: 100vw;
        justify-content: space-around;
    }
    .tarjetas {
        width: 40vw;
        height: 80vh;
    }
    .flexbox>a {
        margin: 0;
    }
    .flex {
        margin: 3%;
        width: 95vw;
        display: flex;
        flex-direction: column;
    }
    .flex>iframe {
        display: block;
        width: 90%;
    }
    .flex>p {
        display: block;
        width: 90%;
    }
    .contactMain {
        height: 1000px;
        .jumbotron{
            display: none;
        }
        form {
            margin-top: 150px;
        }
    }
    footer.footerStyle {
        flex-direction: row;
        align-items: center;
        .newsLetter {
            p {
                display: none;
            }
        }
        .contactFooter {
            width: 45%;
            text-align: left;
            .contactData {
                dd {
                    width: 65%;
                    font-size: .8rem;
                }
                dt {
                    width: 35%;
                }
            }
        }
    }
}

/* About html  */

@media (max-width: 800px) {
    div.showLess800.col-md-6.how-img {
        display: flex;
        justify-content: center;
    }
    div.hideLess800.col-md-6.how-img {
        display: none;
    }
}
