.formEstilo {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10%;
}

.jumbotron {
    background-image: url('../img/feedback.jpg');
    background-size: cover;
    margin-top: 10px;
}

/* Entrega bootstrap con js  */

.carousel {
    margin: 10%;
    border-radius: 55px 55px 55px 55px;
    overflow: hidden;
}


