/* Mixins  */

@mixin flexbox($direction) {
    display: flex;
    @if $direction==column {
        flex-direction: column;
    }
}

/* Variables*/

/* Paletas de colores  */
$babyBlue: #70D6FF;
$freshPink: #FF70A6;
$freshBlue: #03efe3;
$lightSalmon: #FF9770;
$orangeYellowCrayola: #FFD670;
$blackBabe: #001514;
$mindaro: #E9FF70;
$dutchWhite: #DBD5B5;
$bckColor: #fcfcfc;
$laurenGreen: #BDC4A7;
$raisinBlack: #1B1B1E;
/* varibles general  */
$bckImage:"../img/foto3.jpg";

/* variables nav  */
$bckColorNav: $blackBabe;
$navBckHover: $freshBlue;
$hoverNavList: $laurenGreen;

/* variables footer */
$bckColorFooter: $blackBabe;

/* variables Contact */
$bckGroundContactColor: $laurenGreen;

/* varibles index */
$indexBckGroundColor: #3E73BB;
$legendColorText: #FAF4FB;
$cardColorText: $babyBlue;
$cardBackgroundColor: $raisinBlack;
$cardBtnBackgroundColor: $laurenGreen;
$cardBtnTextColor: #1e56b2;
/* Importaciones  */

@import "divisores";
@import "generales";
@import "socialside";
@import "navbar";
@import "footer";
@import "index";
@import  "about";
@import "productos";
@import "servicios";
@import "contactos";
@import "queries";


