/* Mixins  */

@mixin flexbox($direction) {
    display: flex;
    @if $direction==column {
        flex-direction: column;
    }
}

/* Variables*/

/* Paletas de colores  */
$babyBlue: #70D6FF;
$freshPink: #FF70A6;
$lightSalmon: #FF9770;
$orangeYellowCrayola: #FFD670;
$blackBabe: #001514;
$mindaro: #E9FF70;
$dutchWhite: #DBD5B5;
$bckColor: #fcfcfc;
$laurenGreen: #BDC4A7;
$raisinBlack: #1B1B1E;
/* varibles general  */
$generalBckColor: $babyBlue;

/* variables nav  */
$navBckColor: $blackBabe;
$navButtonColor: $babyBlue;
$navLogoBorder: $lightSalmon;
$navLinkColor: $babyBlue;
$navBckHover: $babyBlue;
$hoverNavListBckColor: $babyBlue;
$hoverNavListColor: $bckColor;

/* variables footer */
$bckColorFooter: $blackBabe;

/* variables Contact */
$bckGroundContactColor: $babyBlue;


/* varibles index */
$indexBckGroundColor: $babyBlue;
$legendColorText: $raisinBlack;
$cardColorText: $babyBlue;
$cardBackgroundColor: $raisinBlack;
$cardBtnBackgroundColor: $bckColor;
$cardBtnTextColor: $raisinBlack;
$zonaFlexBckGroundColor: $babyBlue; 
$zonaFlexBckColor: $bckColor;
$zonaFlexSpanColor: $raisinBlack;
$cardHeaderColor: $babyBlue;
$zonaFlexColorText: $bckColor;
$cardBtnHoverBck: $babyBlue;
$cardBtnHoverText: $bckColor; 
/* variables About */
$AboutMainBckColor: $babyBlue;

/* Variables servicios  */
$cardIconosBckColor: $blackBabe;

/* Variables Productoos  */
$productosCardBG: $blackBabe;

/* Importaciones  */

@import "divisores";
@import "generales";
@import "socialside";
@import "navbar";
@import "footer";
@import "index";
@import  "about";
@import "productos";
@import "servicios";
@import "contactos";
@import "queries";


